<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 메인 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script/common.js"></script>
</head>
<body>
    <a href="/admin/login">로그인</a>
    <a href="/admin/movie">영화 정보 관리</a>
    <a href="/admin/session">상영 일정 관리</a>
    <a href="/admin/facility">시설 관리</a>
    <a href="/admin/item">상품 관리</a>
</body>
</html>