<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    티켓 예약 페이지
    <title>영화티켓 예약</title>
        <p>영화목록</p>
        <ul>
            <li>영화1</li>
            <li>영화2</li>
        </ul>
        <p>영화관목록</p>
        <ul>
            <li>영화관1</li>
            <li>영화관2</li>
        </ul>
        <p>상영일정목록</p>
        <ul>
            <li>일정1</li>
            <li>일정2</li>
        </ul>
    <a href="/reserve/seat.html">좌석선택</a>
</body>
</html>