<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="search" id="search">
    <a href="/movieinfo/movie.html">검색</a>
    <a href="/login.html">로그인</a>
    <a href="/signup.html">회원가입</a>
    <a href="/reserve/index.html">영화예매</a>
    <a href="/item.html">상품구매</a>
    <a href="/mypage.html">마이페이지</a>
</body>
</html>