<!DOCTYPE html>
<html lang="en">
<%- include('_component/head.ejs', {titleName: '메인'})%>
<body>
    <input type="text" name="search" id="search">
    <a href="/movieinfo/movie">검색</a>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
    <a href="/reserve/index">영화예매</a>
    <a href="/item">상품구매</a>
    <a href="/mypage">마이페이지</a>
</body>
</html>