<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/index.html">메인 화면</a>
    로그인 페이지
    ID
    <input type="id" name="login_id" id="input_id">
    비밀번호
    <input type="password" name="login_pw" id="input_pw">
    <button id="btn_login">로그인</button>
    <br>
    <a href="/signup.html">회원가입</a>
    
    <script>
        const btn_login = document.getElementById('btn_login');
        const input_id = document.getElementById('input_id');
        const input_pw = document.getElementById('input_pw');

        btn_login.addEventListener('click', function(){
            const data = {
                id: input_id.value,
                pw: input_pw.value,
            };

            fetch('/login', {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
            })
        });
    </script>
</body>
</html>
