<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/index">메인화면</a>
    <title>영화 제목</title>
    <h1>영화제목</h1>
        <h2>영화 설명</h2>
            <p>영화영문제목</p>
            <p>장르 : </p>
            <p>상영시간 : </p>
            <pre>
                시놉시스
            </pre>
            <p>개봉일자 : </p>
            <p>영상물 등급 : </p>
            <p>제작사 : </p>
            <p>배급사 : </p>
            <p>제작상태</p>
            <p</p>
            <img src="">
        <h2>평점</h2>
            <p>평점 : </p>
            <table>
                <tr>
                    <th>닉네임</th>
                    <th>후기제목</th>
                    <th>평점</th>
                </tr>
                <tr>
                    <th>user1</th>
                    <th>꿀잼</th>
                    <th>4.3</th>
                </tr>
            </table>
        <h2>참여자</h2>
            <ul>
                <li>감독</li>
                <li>배우1</li>
                <li>배우2</li>
                <li>배우3</li>
                <li>배우4</li>
            </ul>
</body>
</html>
